* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  display: grid;
  justify-items: center;
}

.toolbox-container {
  width: 200px;
  height: 30px;
  border-radius: 100px;
  background-color: hsl(0, 0%, 15%);
  position: absolute;
  margin-top: 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* place-items: center; */
  /* align-items: end; */
}

.grid-container {
  background-color: #000;
  height: 90vh;
  width: 80vw;
  overflow: hidden;

  display: grid;
  /* grid-template-columns: repeat(128, 10px);
  grid-template-rows: repeat(50, 10px); */
}

.btn svg {
  fill: white;
  height: 20px;
  width: 20px;
  display: block;
  pointer-events: none;
}

.rainbow svg {
  height: 22px;
  width: 22px;
}

.brushes-container {
  background-color: #fafafa;
  width: 80%;
  height: 120px;
  position: absolute;
  top: 120%;
  border-radius: 5px;
  display: none;
  align-items: end;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.brushes-container svg {
  transform: rotate(135.03deg);
  cursor: pointer;
  transition: all 0.05s linear;
}

.brushes-container svg path {
  pointer-events: none;
}

.brushes-container svg:hover {
  transform: translateY(-3px) rotate(135.03deg);
}

.brush-selected {
  transform: translateY(5px);
}

.brushes-text {
  grid-column: 1 /-1;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.close {
  font-size: 12px;
  cursor: pointer;
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: start;
  margin: 5px 8px 0 0;
  color: #777;
}

.close:hover {
  color: #222;
}

.eraser-container {
  background-color: #fafafa;
  width: 80%;
  height: 120px;
  position: absolute;
  top: 120%;
  border-radius: 5px;
  display: none;
  place-items: center;
  grid-template-rows: 88px 1fr;
  grid-template-columns: 70px 1fr;
}

.eraser-size {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  transition: all 0.1s linear;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.slider {
  appearance: none;
  background: #d3d3d3;
  border-radius: 50px;
  grid-column: 1/-1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #04aa6d;
  cursor: pointer;
  border-radius: 50%;
}

.small-brush {
  width: 40px;
  height: 40px;
}

.medium-brush {
  width: 48px;
  height: 48px;
}

.large-brush {
  width: 56px;
  height: 56px;
}

input[type="color"] {
  width: 26px;
  height: 30px;
  background-color: transparent;
  border: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
